#form {
    width: 400px;
    padding: 5%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#point1, #point2, #point3{
    display:inline-block;
    padding: 3%;
    background: url(images/circle1.png) no-repeat 0 30%;
}
.valid{
     border: 1px solid green !important;
}
.invalid{
    border: 1px solid red !important;
}
input[type=text],
input[type=password],
input[type=passwordentropy] {
    width: 100%;
    padding: 2% 2%;
    margin: 1% 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    padding: 2% 2%;
    margin: 1% 0;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ccc;
}